<div class="l-application pt-3">
  <%= render HeaderComponent.new %>

  <main class="c-main mt-5 u-container-narrow">
    <h1 class="fw-bolder mb-0 text-center">
      <%= @post.title %>
    </h1>

    <div class="fw-bold mt-3 small text-center text-muted">
      <%= display_time(@post.published_at, format: :long_without_time) %>
    </div>

    <article class="py-5">
      <%== render_markdown @post.body %>
    </article>
  </main>

  <%= render FooterComponent.new %>
</div>
