<footer class="c-footer py-4 text-center text-white">
  <div class="u-container-narrow">
    <%= image_tag "shimbaco.jpg", class: "rounded-circle", size: "100x100" %>

    <h1 class="display-6 fw-bold mt-2">
      Shimba, Koji

      <div class="c-footer__username h5 u-text-tw-gray-300">
        @shimbaco
      </div>
    </h1>

    <div class="c-profile-links justify-content-center my-3 row">
      <div class="col-auto">
        <%= link_to "https://annict.com/@shimbaco", rel: "noopener", target: "_blank" do %>
          <%= image_tag "annict.jpg", class: "rounded", size: "30x30" %>
        <% end %>
      </div>

      <div class="col-auto">
        <%= link_to "https://twitter.com/shimbaco", rel: "noopener", target: "_blank" do %>
          <i class="fa-brands fa-twitter u-text-s-twitter"></i>
        <% end %>
      </div>

      <div class="col-auto">
        <%= link_to "https://github.com/shimbaco", rel: "noopener", target: "_blank" do %>
          <i class="fa-brands fa-github text-white"></i>
        <% end %>
      </div>
    </div>

    <div>
      個人でWebサービスを運営したりしているソフトウェアエンジニアです。
      <br>
      趣きのあるアニメの聖地を訪れるのが好き。
    </div>
  </div>

  <div class="px-4 text-end">
    <%= link_to "Admin", admin_path, class: "text-white" %>
  </div>
</footer>
