<%= render Admin::NavbarComponent.new %>

<div class="container py-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">slug</th>
        <th scope="col">title</th>
        <th scope="col">published_at</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.slug %></td>
          <td><%= post.title %></td>
          <td>
            <% if post.published_at %>
              <%= link_to display_time(post.published_at), post_path(post.slug), target: "_blank" %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <div class="hstack gap-2">
              <%= link_to "Edit", admin_edit_post_path(post.id) %>
              <%= link_to "Delete", admin_post_path(post.id), data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
