<!DOCTYPE html>
<html>
  <head>
    <title>shimba.co</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c50aceb8c4.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
